<h1> <%=@cafe.name%> Drinks Index Page</h1>
<% @drinks.each do |drink| %>
  <h3>Name: <%= drink.name %></h3>
  <h2> Dairy Subsitute: <%= drink.dairy_substitute %></h2>
  <h3> Price: <%= drink.price %></h3>
<% end %>
